<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>Termahter Picker</title>
    <link href="/static/css/style1.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.9.2.custom.css" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/js/libs/jquery-1.8.3.js"></script>
    <script src="/static/js/libs/jquery-ui-1.9.2.custom.js"></script>

    <script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/libs/underscore-min.js"></script>
    <script>
        $(function() {
          $( "#home" ).button()
          .click(function(){
                 window.location = "/";
                 });
          $( "#search" ).button()
          .click(function(){
                 window.location = "/search";
                 });
          $( "#imdb" ).button()
          .click(function() {
                 window.location = "http://imdb.com";
                 });
          $( "#rotten" ).button()
          .click(function() {
                 window.location = "http://rottentomatoes.com";
                 });
          $( "#itunes" ).button()
          .click(function() {
                 window.location = "http://trailers.apple.com";
                 });
          $( "#slash" ).button()
          .click(function() {
                 window.location = "http://slashfilm.com";
                 });
          });
    </script>
    <style type="text/css">
        <!--
        A:link {text-decoration: none} A:visited {text-decoration: none}
        A:active {text-decoration: none}
        -->
    </style>
    
    
</head>
    


<body>
<div id="wrapper">
    <!-- the header and navigation -->
    <div id="header">
        <div id="tomato">
            <div id="column-1">
                <img src="/static/images/termather1.png" style="float: left"/>
            </div>
            <div id="column-2-3">
                <div id="column-2">
                    <a href="http://localhost:8080"><b style="font-family: 'Lucida Console'; font-size: 60px">Termather Picker</b></a>
                </div>
                <div id="column-3">
                    <img src="/static/images/termather1.png" style="float: right"/>
                </div>
            </div>
        </div>
        <div id="navigation">
            <span id="toolbar" class="ui-widget-header">
                <button id="home">Home</button>
                <button id="search">Search</button>
                <button id="imdb">IMDb</button>
                <button id="rotten">Rotten Tomatoes</button>
                <button id="itunes">iTunes Movie Trailers</button>
                <button id="slash">/Slash Film</button>
            </span>
        </div>
    </div>
    <!-- the content -->
    <div id="content">
        <div id="moviesearch" class="span12">
            <h2>Search Movies</h2>
            <form class="well form-inline">
                <input name="query" type="text" class="input-xlarge" placeholder="search movie title">
                <button type="submit" class="btn">Search</button>
            </form>
            <div class="results well hide">
            </div>
        </div>
    </div>
</div>

<script id="movie_template" type="text/template">
    <div id="movie" class="ui-widget-content ui-corner-all" onclick="submitForm()">
        <form id="form" action="/static/info.html" method="post">
            <div id="poster">
                <img src="<%- poster %>" style="max-width:100px; max-height:148px" />
            </div>
            <div id="info">
                <div id="movie_info">
                    <div style="padding-top: 10px;">
                        <a href="<%- imdb_url %>"><%- title %></a> (<%- year %>)
                    </div>
                    <div style="padding-top: 10px;">
                        <t> Director: <%- directors[0] %></t>
                    </div>
                    <div style="padding-top: 10px;">
                        <t> Actors: <%- actors[0] %>, <%- actors[1] %>, <%- actors[2] %></t>
                    </div>
                    <div style="padding-top: 10px;">
                        <t><%- plot_simple %></t>
                    </div>
                </div>
                <div id="rating">
                    <div id="rating_img">
                        <img src="/static/images/BlackStar.png" style="max-width: 20px; max-height: 20px"/>
                    </div>
                    <div id="rating_num">
                        <h3><%- rating.toFixed(1) %></h3>
                    </div>
                </div>
            </div>
            <input name="id" type="hidden" value="<%- imdb_id %>">
        </form>
    </div>
</script>
    
<script id="alert_template" type="text/template">
        <div class="alert">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Error!</strong><p><%- error %></p>
        </div>
</script>
    
<script id="movie_template" type="text/template">
    <div id="movie" class="ui-widget-content ui-corner-all">
        <form id="form" action="/static/info.html" method="post">
            <div id="poster">
                <img src="<%- poster %>" style="max-width:100px; max-height:148px" />
            </div>
            <div id="info">
                <div id="movie_info">
                    <div style="padding-top: 10px;">
                        <a href="<%- imdb_url %>"><%- title %></a> (<%- year %>)
                    </div>
                    <div style="padding-top: 10px;">
                        <t> Director: <%- directors[0] %></t>
                    </div>
                    <div style="padding-top: 10px;">
                        <t> Actors: <%- actors[0] %>, <%- actors[1] %>, <%- actors[2] %></t>
                    </div>
                    <div style="padding-top: 10px;">
                        <t><%- plot_simple %></t>
                    </div>
                    <div id="share">
                        <div id="twitter">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="Check out this rating prediction for <%- title %>! #termatherPicker http://localhost:8080/">Tweet</a>
                        </div>
                        <div id="fb">
                        </div>
                    </div>
                </div>
            <div id="rating">
                <div id="rating_img">
                    <img src="/static/images/BlackStar.png" style="max-width: 20px; max-height: 20px"/>
                </div>
                <div id="rating_num">
                    <h3><%- rating.toFixed(1) %></h3>
                </div>
            </div>
        </div>
        <input name="id" type="hidden" value="<%- imdb_id %>">
        </form>
    </div>
</script>

    
<script id="results_template" type="text/template">
    <p class="result_message">
        Found <%- count %> movies in <%- time.toFixed(3) %> seconds.
    </p>
</script>

<script src="/static/js/plugins.js"></script>
<script src="/static/js/script1.js"></script>
</body>


</html>