body {
    background-color: #9FB6CD
}

#wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 960px;
    height: 720px;
    background-color: #6C7B8B
}
#header {
    margin-right: 10px;
    margin-left: 10px;
    width: 940px;
}
#navigation {
    padding-bottom: 25px;
    margin-top: 26px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 940px;
}
#navigation ul li {
    display: inline-block;
}
#content {
    margin-top: 58px;
    margin-right: 10px;
    float: right;
    width: 698px;
}
#sidebar {
    border-right-color: #e8e8e8;
    border-right-style: solid;
    border-right-width: 2px;
    margin-top: 58px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    width: 220px;
}
#footer {
    float: left;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    clear: both;
    width: 940px;
}

.movie {
  margin-bottom:1em;
}

.orig_movie {
  float: right;
  color: @grayLight;
}

.movie img {
  float: left;
}

.movie .movie_info {
  margin-left: 60px;
}

.movie .movie_info {
  height: 48px;
}

.movie .movie_info p {
  font-size: 20px;
  font-weight: 200;
}

